.tab-container{
   padding: var(--padding-global);
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tab-wrapper{
   display: grid;
   grid-auto-rows: max-content;
   grid-auto-columns: 1fr;
   gap: 1rem;
   width: 100%;
   height: 100%;
   padding: 1rem;
   background-color: #000000bb;
   overflow: scroll;
}
.tab-wrapper .title{
   align-self: flex-end;
   letter-spacing: 0.5rem;
   padding-bottom: 1rem;
   width: max-content;
   border-bottom: var(--border-size1) solid var(--color-text-primary);
}
.tab-wrapper p{
   color: var(--color-text-priamry-shade);
}
.tab-container .close-button{
   width: 3rem;
   height: 3rem;
   justify-self: right;
   cursor: pointer;
   user-select: none;
   -webkit-user-drag: none;
   margin-bottom: 1.5rem;
}
.tab-container .close-button:hover{
   transition: transform 0.2s ease-out;
   transform: rotate(90deg);
}

.tab-container .title-wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tab-container .banner{
   width: 100%;
   height: 20rem;
   object-fit: cover;
}

@media (min-width: 500px){
   .tab-container .banner{
      height: 25rem;
   }
}
@media (min-width: 900px){
   .tab-container .close-button{
      margin-bottom: 0;
   }
   .tab-wrapper{
      gap: 1.5rem;
      padding: 2rem;
      width: 60%;
      height: fit-content;
      overflow: hidden;
   }
}
@media (min-width: 1200px){
   .tab-wrapper{
      width: 50%;
   }
}