.tab-container{
   padding: var(--padding-global);
   position: absolute;
   height: 100%;
   width: 100%;
}
.tab-wrapper{
   display: grid;
   grid-auto-rows: max-content;
   grid-auto-columns: 1fr;
   gap: 1.5rem;
   width: 100%;
   height: 100%;
   padding: 0.5rem;
   background-color: #000000bb;
}
.tab-wrapper .title{
   letter-spacing: 0.5rem;
   padding-bottom: 1rem;
   width: max-content;
   border-bottom: var(--border-size1) solid var(--color-text-primary);
}
.tab-wrapper p{
   color: var(--color-text-priamry-shade);
}
.tab-container .close-button{
   width: 3rem;
   height: 3rem;
   justify-self: right;
}
.tab-container .banner{
   width: 100%;
   height: 15rem;
   object-fit: cover;
}