@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');
@import url('../main/main.css');
@import url('../header/header.css');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Source Sans Pro', sans-serif;
   color: var(--color-text-primary);
   letter-spacing: 0.2rem;
   line-height: 1.5rem;
}

:root{
   --color-text-primary: white;
   --color-text-priamry-shade: #e6e4e1;

   --border-size1: 1px;
   --border-size2: 1.4px;

   --padding-sides: 0 0.5rem;
   --padding1: 0.5rem;
}

.line-vertical-container-style{
   width: 100%;
   display: flex;
   justify-content: center;
}
.line-vertical-style{
   width: var(--border-size1);
   height: 2.5rem;
   background-color: var(--color-text-primary);
}

.button-style{
   border-bottom: var(--border-size1) solid var(--color-text-primary);
   display: flex;
   justify-content: center;
   padding: var(--padding1);
}