@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
@import url('../main/main.css');
@import url('../header/header.css');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}

:root{
   --color-text-primary: white;
   --color-text-priamry-shade: #9c9185;
}