header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.logo-container{
   width: 6rem;
   height: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: var(--border-size1) solid var(--color-text-primary);
   border-radius: 50%;
}
.logo-container img{
   width: 50%;
   height: 50%;
}

.hero-container{
   text-transform: uppercase;
   padding: 2rem 0;
   gap: 2rem;
   color: var(--color-text-primary);
   display: flex;
   align-items: center;
   flex-direction: column;
   border-top: var(--border-size2) solid var(--color-text-primary);
   border-bottom: var(--border-size2) solid var(--color-text-primary);
}
.hero-container p{

}